.container{
    color: #333;
    padding: 0;
}

footer {
    display: flex;
    align-items: flex-start; 
    justify-content: space-evenly; 
    padding: 2rem 0; 
    /* background-color: #011e9b; */
  }
  
  .footer-heading {
    margin-bottom: 1rem; 
    position: relative; 
    cursor: pointer; 
    text-decoration: none;
  }
  
  .footer-heading::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    height: 2px; 
    width: 0%; /* Start with no width */
    background-color: #333; 
    transition: width 0.5s ease; /* Adjust the duration as you like */
}

.footer-heading:hover::after {
    width: 100%; /* Full width on hover */
}
  
  .nav-link {
    color: #333; 
    transition: color 0.3s ease; 
  }
  
  .nav-link:hover {
    text-decoration: none; 
    color: #117a8b; 
  }
  
  .footer-heading {
    margin-top: 1rem; 
  }

  