<app-navbar></app-navbar>

<div *ngIf="package" class="package-details">
  <div class="details-container">
    <!-- Image -->
    <div class="image-container">
      <img [src]="package.imageUrl2" alt="{{ package.packageName }}">
    </div>

    <!-- Package Information -->
    <div class="info-container">
      <h2>{{ package.packageName }}</h2>
      <p>{{ package.description }}</p>
      <p>Country: {{ package.countryName }}</p>
      <p>Cost per Person: {{ package.costPerPerson }}</p>
      <button class="confirm-button" (click)="openConfirmBookingModal()">Confirm Booking</button>
    </div>
  </div>
</div>
<h1> Itinerary </h1>
<app-confirm-booking-modal (confirmation)="handleConfirmation($event)"></app-confirm-booking-modal>

<app-timeline></app-timeline>
<app-footer></app-footer>