 <app-navbar></app-navbar>
 <div class="seven-rings-container">
  <div class="package-info">
    <div class="container">
      <h1 style="text-align: center; padding-bottom: 20px; font-size: 2.5rem;">The 7 Rings Package</h1>
    </div>
    <div class="container">
      <ul class="package-details">
      <p style="font-size: 1.3rem;">Experience the prestigious offering from the 7 Rings Travel Company </p>
      <p style="font-size: 1.3rem;">a journey to all 7 Wonders of the World</p> 
      <div style="padding-left: 30px;">
        <li>Flights to all 7 Wonders of the World</li>
        <li>Luxury accommodations</li>
        <li>Private guided tours</li>
        <li>All meals and transportation</li>
      </div> 
    </ul>
    <div  style="padding-left: 20px;">
      <p class="package-price">$3,000 USD per person</p>
    <button class="book-now" >Book Now</button>
    <!-- <app-confirm-booking-modal (confirmation)="handleConfirmation($event)"></app-confirm-booking-modal> -->
    </div>
    
  </div>
  </div>
  <img src="https://images.unsplash.com/photo-1473625247510-8ceb1760943f?q=80&w=2011&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="7 Wonders of the World Image" class="wonder-image">
</div>

<app-footer></app-footer>