

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8e6e3; /* General background color */
}

h1 {
  font-size: 4rem; /* Larger size */
  font-weight: 700; /* Bolder weight */
  color: #333; /* White color for contrast */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Stronger text shadow for legibility */
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 80px;
  background: linear-gradient(rgb(255, 255, 255), #ecd7d7);
}

/* Add a faded backdrop image for the header */
.header-gradient {
  /* background: url('https://i.pinimg.com/564x/4c/2d/f8/4c2df8eed3f1aaeda78cf83c2828df20.jpg') no-repeat center center;  */
  background-size: cover; Ensure it covers the full "Asia" div
  color: #fff;
  width: 100%; /* Full width */
  padding: 20px 0; /* Adjust padding to control the height of the div */
  padding-bottom: 0;
}

.custom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 32px; */
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.filters{
  background: rgba(255, 255, 255, 0.9); 
  padding: 10px 16px; 
  /* border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
  margin-bottom: 0px; 
  margin-top: 0px;
  align-items: center; 
  max-width: 100%; 
  padding-left: 48px;
  padding-bottom: 80px;
  margin-right: 0;
  width:100%;
  color:#333;
  background-color: #ecd7d7;
}

.filters label,
.filters select,
.filters .slider {
  margin-bottom: 0.7em; /* Adjust this value as needed */
}

/* Remove margin from the last element */
.filters .filter-actions {
  margin-bottom: 0; /* Ensures no margin at the bottom of the last element */
}

.filters label {
  font-size: 1rem; /* Adjust the font size as needed */
  margin-right: 0.5rem; /* Space after label for clarity */
}

.filters select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #333;
}


.adventure-type-filter,
.cost-per-person-filter {
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  gap: 4px;
}

.adventure-type-filter {
  width: 28%;
}

.cost-per-person-filter {
  width: 46%;
  padding-right: 24px;
}

.filter-actions {
  width: 26%;
}

.slider {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0px 8px;
}

.slider span {
  font-size: 0.8rem;
  width: 8%;
}
 mat-slider {
  width: 70% !important;
 }
.adventure-type-filter select{
  background-color: #F5F5F5;
}

.cost-per-person-filter select {
  background-color: #CCCCCC;
}

.adventure-type-filter label {
  margin-right: 10px;
}

.adventure-type-filter select,
.cost-per-person-filter select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  /* background-color: #ffffff; Light background for the select dropdown */
  color: #333;
}

.adventure-type-filter select:hover {
  background-color: #D3D3D3;
}

.apply-filters-btn:hover {
  background-color: #cda489; 
}
.clear-filters-btn:hover {
  background-color: #e09e8a; 
}

.apply-filters-btn,
.clear-filters-btn {
  padding: 10px 20px;
  border-radius: 20px; 
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  margin-right: 0.5em;
}

.apply-filters-btn {
  background-color: #d9b79c; /* Bootstrap warning color */
  color: #333;
}

.clear-filters-btn {
  background-color: #f4b19a; /* Bootstrap danger color light */
  color: #721c24; /* Bootstrap danger color */
}

.adventure-type-filter label,
.cost-per-person-filter label {
  margin-right: 10px;
}

.range-slider {
  display: flex;
  align-items: center;
  background: #f8f4f0; 
  border-radius: 10px;
  padding: 6px;
}

.range-slider input[type="range"] {
  width: 100%; /* Full width of its container */
  margin: 0; /* Remove any margin for alignment */
}

.range-slider span {
  min-width: 60px;
  text-align: center;
}

.range-slider input[type="range"]::after {
  content: attr(value);
  position: absolute;
  top: -30px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 25px; /* Width of the thumb */
  height: 25px; /* Height of the thumb */
  border-radius: 50%; /* Make it circular */
  background: #fe7606; /* Background color of the thumb */
  cursor: pointer; /* Cursor to indicate it's draggable */
}

.range-slider input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fe7606;
  cursor: pointer;
}

.filter-actions button {
  padding: 8px 16px; /* Adjust padding for better ergonomics */
  font-size: 0.9rem; /* Smaller font size for subtlety */
  border-radius: 100px; /* Rounded corners for the buttons */
  border: none; /* Remove border for a cleaner look */
  cursor: pointer;
  transition: all 0.2s; /* Smooth transition for hover effects */
}


.tour-packages {
  padding: 20px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  justify-items: center;
  background-color: #fce9e9;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;

  
}

.tour-package {
  background-color: #e0c4bb;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
  color:#333;
  margin: 0 10px;
  justify-content: space-between; /* Aligns content space between */
  height: 100%;
}

.tour-package:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tour-package img {
  width: 100%;
  height: 200px; 
  border-radius: 4px;
  margin-bottom: 10px;
  object-fit: cover;
}

.no-results {
  grid-column: 1 / -1;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}